<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <title>Play Spotify Together</title>
    <meta name="description" content="Lets you play & listen to music in sync with friends">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900">
  </head>

  <body>
    <main class="{{template}}">
      {{{body}}}
    </main>

    <script async type="text/javascript" src="/main.js"></script>
  </body>

</html>