<section class="container--center">
  <div>
    <h1 class="title">Play Spotify Together</h1>
    <p class="subtitle">
      Lets you
      <strong>play & listen</strong> to music in
      <strong>sync with friends</strong>
    </p>

    <a class="button button--spotify" href="/login">
      Log in with Spotify
      <img src="/spotify_icon.png" alt="Spotify Icon">
    </a>
    <small class="note">
      Note: you need a
      <a href="https://www.spotify.com/nl/premium/?checkout=false">premium account</a>
    </small>
  </div>
</section>