<section class="container--center">
  <div>
    {{#each this}}
    <h1 class="title">Logged in as {{display_name}}</h1>
    <p class="subtitle">
      Search amazing songs
    </p>
    {{/each}}
  </div>
</section>