/********************************
  1. Custom properties     
*********************************/
:root {
  /* colors */
 --white: #fff;
 --gray-light: #f2f2f2;
 --gray: #bebebe;
 --gray-dark: #443F45;
 --black: #212529;
 --green: #2ecc71;
 --brown: #a0522d;
 --red: #e74c3c;
 --blue: #2c3e50;

 /* Style */
 --border-radius: 5px;
}

/********************************
  2. Base 
*********************************/
html {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
*:focus {outline: none;}

body {
  background-image: linear-gradient(-225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
 }

input {
  font-size: 1rem;
  padding: 0 0.6em;
  border: 0;
  min-height: 50px;
  width: calc(100% - 70px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

input::placeholder {
  color: var(--gray);
  font-size: 0.8rem;
}

/********************************
  3. Typography   
*********************************/
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  margin-bottom: 1em;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
}

.subtitle {
  margin-bottom: 2.5em;
  color: #fff;
  font-size: 1.4rem;
}

.note {
  display: block;
  margin-top: 1em;
  color: #fff;
}

.note a {
  color: #fff;
}

/********************************
  4. Content
*********************************/

#login,
#loggedin {
  display: none;
}

/****** 4.1 Containers *********/

.container {
  margin: 0 auto;
  min-height: 100vh;
}

.container--center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container--flex {
  display: flex;
  height: 100%;
}

.container--flex > div {
  flex: 1;
  position: relative;
}

.box {
  background-color: #212121;
  height: 721px;
  margin: 6em 6em 0 6em;
}

.content--left {
  background-color: #212121;
}

.content--center {
  background-color: black;
}

.content--right {
  background-color: lightgray;
  max-width: calc(100% / 3);
}

/****** 4.2 Buttons *********/

.button--spotify {
  background-color: #1db954;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: auto;
}

.button--spotify:hover {
  background-color: #179443;
}

.button {
  outline: 0;
  border: 0;
  padding: 0.8em 4.8em 0.8em 2.4em;
  border-radius: 5px;
  font-size: 1em;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

.button img {
  max-height: 1em;
  margin-left: 0.35em;
  font-size: 1.3em;
  position: absolute;
  right: 2em;
  top: 0.6em;
}

.button--form {
  outline: 0;
  border: 0;
  font-size: 1em;
  transition: 0.4s;
  position: relative;
  cursor: pointer;
  padding: 0 0.8em;
  min-height: 50px;
  max-width: 70px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/****** 4.3 User *********/

#user-profile {
  text-align: center;
  padding: 1em;
  z-index: 2;
  position: relative;
  height: 150px;
  display: flex;
  background-color: #fff;
}

.user-profile--avatar {
  max-width: 80px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.user-profile--name {
  display: block;
  margin-top: 0.5em;
}

.user {
  margin-left: 1em;
}

.user:first-of-type {
  margin-left: 0;
}

/****** 4.4 Chatbox *********/

.chatbox {
  position: relative;
  height: calc(721px - (150px + 86px));
  background-color: #ece5dd;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

.chatbox::-webkit-scrollbar {display: none; }

#messages {
  width: 100%;
}

#sendMessage {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: lightgray;
}

.message {
  padding: 0.5em;
  display: flex;
  align-items: center;
}

.message--image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1;
}

.message--text {
  background-color: #fff;
  margin-left: 0.4em;
  padding: 0.5em;
  border-radius: 5px;
  position: relative;
}

.message--text:before {
  content: "\25c0";
    left: -.7em;
    position: absolute;
    color: #fff;
}

.message--text--join {
  background-color: rgb(83, 83, 83);
  color: rgb(189, 189, 189);
  margin-left: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  display: none;
}

.feedback {
  color: gray;
  border-radius: 5px;
  padding: 0 0.4em;
  margin: 0;
  position: absolute;
  top: 126px;
  z-index: 2;
  font-size: 70%;
  right: .5em;
  font-style: italic;
}

/****** 4.5 Playlist and que *********/

.playlist, .quelist {
  height: 721px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  position: relative;
}

.playlist::-webkit-scrollbar,
.quelist::-webkit-scrollbar {display: none; }

.loading:after {
  content: "Waiting...";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#songs, #que {
  text-align: left;
}

#que {
  padding-top: 1em;
}

#que .song:first-of-type {
  padding:0 1em .25em 1em;
}

#searchSongs {
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: #212121;
  box-shadow: 0 0 10px 0 #111;   
}

#searchSongs input {
  min-height: 40px;
  width: calc(100% - 85.83px);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#searchSongs .button--form {
  min-height: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 85.83px;
}

.song {
  padding: .25em 1em;
}

.song:first-of-type {
  padding: 1em 1em .25em 1em;
}

.song:last-of-type {
  padding: .25em 1em 1em 1em;
}

.song div {
  min-height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: .5em;
}

.playlist .song div:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.song span,
.song small {
  display: block;
}

.song small {
  color: #b3b3b3;
}

.song span {
  font-weight: bold;
  color: #fff;
}

.song img {
  width: 64px;
  height: 64px;
  float: left;
}

.currently-playing {
  position: absolute;
  bottom: 0;
  left: 100px;
  height: 150px;
  width: 100%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.5);
}